/* Typography */

@font-face {
	font-family: "HelveticaNeue";
	font-weight: bold;
	src: url("assets/HelveticaNeue-Bold.otf");
}

@font-face {
	font-family: "HelveticaNeue";
	font-weight: normal;
	src: url("assets/HelveticaNeue-Roman.otf");
}

body {
	font-family: HelveticaNeue;
	letter-spacing: 0.04em;
	line-height: 1.45em;
}

h2 {
	line-height: 1.25;
}

footer {
	font-size: 13px;
}

b, strong {
	color: #f06754;
	font-weight: normal;
}

p {
	margin-bottom: 1.25em;
	margin-top: 0;
}

.big-3 {
	font-size: 26px;
	line-height: 1.25em;
}

.big-4 {
	font-size: 35px;
	line-height: 1.225em;
}

@media (min-width: 420px) {
	body {
		font-size: 18px;
		line-height: 1.4em;
	}
}

@media (min-width: 768px) {
	body {
		font-size: 22px;
		line-height: 1.4em;
	}
}

@media (min-width: 1000px) {
	body {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.825em;
	}

	b, strong {
		font-weight: bold;
	}

	.big-1 {
		font-size: 35px;
		letter-spacing: 0.02em;
		line-height: 1.4em;
	}

	.big-2 {
		font-size: 42px;
		letter-spacing: 0.025em;
		line-height: 1.35em;
	}

	.big-3 {
		font-size: 62px;
		letter-spacing: 0;
		line-height: 1.35em;
	}

	.big-4 {
		font-size: 90px;
		letter-spacing: 0;
		line-height: 1.225em;
	}

	p {
		margin-bottom: 0.5em;
	}
}


/* Colours */

body {
	background-color: #333333;
	color: white;
	margin: 0 auto;
	max-width: 995px;
}

a {
	color: #f06754;
}

h2 {
	color: #f06754;
}

/* Forms */

input[type="text"],
input[type="email"] {
	background: none;
	border: 0;
	border-bottom: 2px solid;
	color: white;
	float: left;
	font-size: 16px;
	margin-bottom: 30px;
	margin-right: 5%;
	padding-bottom: 10px;
	width: 45%;
}

label {
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 2%;
}

select {
	background: none;
	color: #f06754;
	border: 0;
	border-bottom: 2px solid #f06754;
	font-size: 16px;
	margin-bottom: 30px;
	margin-right: 5%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

input[type="submit"] {
	background: none;
	color: #f06754;
	border: 2px solid #f06754;
	font-size: 16px;
	border-radius: 20px;
	padding: 10px 40px;
}

/* Layout */

body {
	margin: 0 auto;
	max-width: 995px;
	overflow-x: hidden;
	width: 100%;
}

section {
	margin: 0 20px 90px;
	position: relative;
}

footer {
	margin: 0 20px 20px;
}

p {
	padding-right: 30px;
}

@media (min-width: 420px) {
	p {
		max-width: 60%;
		min-width: 300px;
	}
}

@media (min-width: 768px) {
	p {
		padding-right: 260px;
	}
}

@media (min-width: 1000px) {
	p {
		padding-right: 160px;
	}

	section {
		margin-bottom: 200px;
	}
}

/* Elements */

.title {
	font-size: 50px;
	letter-spacing: 0.035em;
	line-height: 45px;
	margin-bottom: 200px;
	margin-top: 20px;
	position: relative;
}

.title-background {
	background: url("assets/texture-home.svg");
	background-size: 450px;
	height: 450px;
	position: absolute;
	right: -20px;
	top: 20px;
	width: 225px;
	z-index: -1;
}

.title-main {
	display: block;
}

.title-turn-kern-first {
	letter-spacing: -0.04em;
}

.title-subtitle {
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.08em;
	line-height: 1.375em;
	margin-top: 15px;
}

.section-background-left {
	background: url("assets/texture-home-2.svg");
	background-size: 151vw;
	height: 134vw;
	left: -90px;
	position: absolute;
	top: -40vw;
	width: calc(100vw + 70px);
	z-index: -1;
}

.logo-footer {
	font-size: 22px;
	margin-right: 10px;
}

@media (min-width: 420px) {
	.title {
		font-size: 50px;
		line-height: 45px;
		margin-bottom: 200px;
	}

	.title-background {
		width: 350px;
	}

	.section-background-left {
		background-size: 80vw;
		height: 72vw;
		left: -130px;
		top: -24vw;
		width: 80vw;
	}
}

@media (min-width: 768px) {
	.title {
		margin-bottom: 180px;
		margin-top: 40px;
	}

	.title-background {
		background-size: 550px;
		height: 550px;
		top: -30px;
		width: 550px;
	}

	.title-main {
		font-size: 80px;
		letter-spacing: 0;
		line-height: 0.83em;
	}

	.title-subtitle {
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 0.03em;
		line-height: 1.325em;
	}

	.section-background-left {
		top: -26vw;
	}
}

@media (min-width: 1000px) {
	.title {
		margin-bottom: 400px;
		margin-top: 50px;
	}

	.title-background {
		background-size: 800px;
		height: 800px;
		left: 120px;
		top: -52px;
		width: 800px;
	}

	.title-main {
		float: left;
		font-size: 152px;
	}

	.title-subtitle {
		float: right;
		font-size: 34px;
	}

	.section-background-left {
		top: -20vw;
	}
}

/* Utils */

.cf:before,
.cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.no-wrap {
	white-space: nowrap;
}